body
{
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px, 0px, 0px, 0px;
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 22px;
    width: 243px;
}
.flexAround{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 19px;
    width: 61.09px;
}
.lien:hover
{
    border-top: 1px solid #0065fc;
}
.recherche
{
display: flex;
flex-direction: column;
}
.variablerow
{
    display: flex;
    flex-direction: row;
}
.barre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.roundedborder
{
    border: 1px solid #d9d9d9;
    border-radius: 25px;
}
.colonne
{
    display: flex;
    flex-direction: column;
}
.gris
{
    background-color: #d9d9d9;
}
.backgroundblue
{
    background-color: #0065fc;
    color: white;
}
.ColorBlue
{
    color: #0065fc;
}
.backgroundgrey
{
    background-color: #d9d9d9;
}
.roundedleftborder
{
    border: 1px solid #d9d9d9;
    border-radius: 15px 0px 0px 15px;
}

.roundedrightborder
{
    border: 1px solid #d9d9d9;
    border-radius: 0px 15px 15px 0px;
}
.roundedBorder
{
    border: 2px solid  #d9d9d9;
    border-radius: 15px 15px 15px 15px;
}
.sizeHebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
}
.sizePopulaire{
    flex: 1;
    height: 650px;
    margin-left: 20px;
}
.imgHebergements1
{
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;;
    width: 100%;
    height: 120px;
}