body
{
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px, 0px, 0px, 0px;
    font-family: 'Raleway', sans-serif;
    color: black;
    line-height: 1em;
}
.flex
{
    display: flex;
}                                   /*flex*/
.flexAround{
    display: flex;
    justify-content: space-around;
}
.flexCenter{
    display: flex;
    justify-content: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}
.flexStart{
    display: flex;
    justify-content: flex-start;
}
.alignCenter
{
    align-items: center;
}
.alignStart{
    align-items: flex-start;
}
.row
{
    flex-direction: row;
}
.column
{
    flex-direction: column;
}
.DirVariable
{
    flex-direction: row;
}
        /*Border */
.roundedBorderTop
{
    border-radius : 10px 10px 0px 0px;
}
.roundedBorderleft
{
    border-radius : 10px 0px 0px 10px;
}
.roundedBorderRight
{
    border-radius : 0px 10px 10px 0px;
}
.roundedBorderAll
{
    border-radius: 10px;
}
.solidBorder
{
    border: 1px solid black;
}
.padding
{
    padding: 10px;
}
.margin
{
    margin: 10px;
}
.variableMarginBottom
{
    margin-bottom: 25px;
}
                            /*Color */
.backgroundblue
{
    background-color: #0065fc;
    color: white;    
}
.backgroundgrey
{
    background-color: #d9d9d9;
}
.backgroundWhite
{
    background-color: white;
}
.ColorBlue
{
    color:#0065fc;
}
header
{
    height 45px;
}
.logo{
    height: 19px;
    width: 61.09px;
}
.lien
{
    text-decoration: none;
    color: black;
    border-bottom: 0px solid black;
}
.lien:hover
{
    border-top: 1px solid #0065fc;
    color:#0065fc;
}
.sectionRecherche
{
    align-items: flex-start;
}
.sizeHebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    padding: 20px;
}
.sizePopulaire{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    padding: 20px;
}
.carteHeb
{
    width: 246px;
    height: 199px;
    margin: 0px 5px 0px 5px;
    padding: 3px 7px 3px 0px;
}
.imgHebergements
{
    height: 49%;
    width: 98%;
    margin: 2px;
    padding: 2px 5px 2px 0px;
}
.photosHeb{
height: 124px;
width: 242px;
margin: 7px 2px 7px 7px;
}
.hebInfos
{
    height: 49%;
    margin: 2px;
    padding-top: 3%;
}
.hebTitre
{
    height: 31%;
    padding: 2px;
}
.hebPrix
{
    height: 29%;
}.hebEtoiles
{
 Height: 29%;}
.imgPop
{
    
}